<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ncsu.stockman"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.ncsu.stockman.MainGameActivity"
            android:label="@string/title_activity_main_game" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.ncsu.stockman.PickWordActivity"
            android:label="@string/title_activity_pick_word" >
        </activity>
        <activity
            android:name="edu.ncsu.stockman.HangFriendActivity"
            android:label="@string/title_activity_hang_friend"
            android:parentActivityName="edu.ncsu.stockman.ChooseHangFriendActivity" >
        </activity>
        <activity
            android:name="edu.ncsu.stockman.ChooseHangFriendActivity"
            android:label="@string/title_activity_choose_hang_friend"
            android:parentActivityName="edu.ncsu.stockman.MainGameActivity" >
        </activity>
        <activity
            android:name="edu.ncsu.stockman.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="edu.ncsu.stockman.SellSharesActivity"
            android:label="@string/title_activity_sell_shares"
            android:parentActivityName="edu.ncsu.stockman.MainGameActivity" >
        </activity>
        <activity
            android:name="edu.ncsu.stockman.BuySharesActivity"
            android:label="@string/title_activity_buy_share"
            android:parentActivityName="edu.ncsu.stockman.MainGameActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.ncsu.stockman.MainGameActivity" />
        </activity>
        <activity
            android:name="edu.ncsu.stockman.StockMarketActivity"
            android:label="@string/title_activity_stock_market"
            android:parentActivityName="edu.ncsu.stockman.MainGameActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.ncsu.stockman.MainGameActivity" />
        </activity>
    </application>

</manifest>
